<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/style.css}" rel="stylesheet"/>

<head>
    <meta charset="UTF-8">
    <title>World country's capital</title>
</head>
<body>
<div class="table-users">
    <div class="header">World country's capital quiz</div>
    <table>
        <thead>
        <tr>
            <th>Instruction</th>
        </tr>
        </thead>
        <tbody>
<tr><td> File has not been found. Please try again.
</td></tr></tbody></table>
    <p class="score"><a th:href="@{/readfile}">Administration</a> </p>
    <p class="score"><a th:href="@{/}">Menu</a> </p>

</body>
</html>