<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>World country's capital</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="table-users">
    <div class="header">World country's capital quiz</div>

    <table th:object="${question}">
        <thead>
        <tr>
            <th>Capital city</th>
            <th>Correct answer</th>
            <th>User answer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quiz, itemStat : *{questionAndAnswers}">

                <td  th:text="${quiz.question}"/>
                <td  th:text="${quiz.solution}"/>
                <td  th:text="${quiz.userAnswer}" th:class="${quiz.userAnswer.equals(quiz.solution)}? 'correct' : 'wrong'"/>
        </tr>
        </tbody>
    </table>

<p class="score"> Your result is: <span th:text="${result}"></span></p>
    <p class="score"><a th:href="@{/quiz}">Play again</a> </p>
    <p class="score"><a th:href="@{/}">Menu</a> </p>
    </form>
</div>
</div>
</body>
</html>