<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form method="post" th:action="@{/readfile}">
    <p>File name: <input name="fileName" type="text"> </p>
</form>-->

<form  th:action="@{/quiz}" th:object="${questions}"
       method="post">
    <table>
        <tbody>
        <tr th:each="quiz, itemStat : *{questionAndAnswers}">
            <p>
                <input th:field="*{questionAndAnswers[__${itemStat.index}__].question}" th:readonly="${quiz.question}"/>
                <input hidden th:field="*{questionAndAnswers[__${itemStat.index}__].solution}"
                       th:value="${quiz.solution}" th:readonly="${quiz.solution}"/>
                <input th:field="*{questionAndAnswers[__${itemStat.index}__].userAnswer}"
                       th:value="${quiz.userAnswer}"/>            </p>
        </tr>
        <input type="reset"/>
        <input type="submit"/>
        </tbody>
    </table>

</form>
</body>
</html>